#config.py

AZURE_MGMT_URL = "https://management.azure.com"
BLOB_HOST_URL = "blob.core.windows.net"
SUBSCRIPTION_ID = ""
RESOURCE_GROUP = ""
ROUTE_SERVER_NAME =""
AZURE_TOKEN = {""}
API_KEY = ''
org_name = ''
tag_prefix = 'ARS-'
